@import "../override.scss";

// Namespace - Default is gls
$ns:                  gls !default;

// Background
$bg-background:     #f1f1f1 !default;

// Colors
$black:             #000000;
$white:             #ffffff;
$yinman-blue:       #2e5090;
$blue:              #0000FF;
$gray:              #555555;
$grey:              #808080;
$green:             #00FF00;
$purple:            #8000FF;
$red:               #FF0000;
$yellow:            #FFFF00;
$skyblue:           #87ceeb;

// Variants
$default-bg:          $bg-background !default;
$primary:             $yinman-blue !default;
$secondary:           $black !default;
$success:             $green !default;
$error:               $red !default;
$warning:             $yellow !default;
$link:                $blue !default;

// Border radius
$border-radius-none:  0 !default;
$border-radius:       0.5rem !default;
$border-radius-small: 0.2857rem !default;
$border-radius-large: 1rem !default;

//
$backdrop-filter: blur(5px) saturate(50%);
