@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006');
@import url('http://fonts.cdnfonts.com/css/segoe-s?styles=66034');
@import url('http://fonts.cdnfonts.com/css/segoe-sd');
@import url('http://fonts.cdnfonts.com/css/segoe-wp-n');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Work+Sans&display=swap');

@import "./base/reset.scss";
@import "./components/all";
@import "./utitlies/all";

html, body {
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

// @import "../sass/components/__all";

// Importing icons
@import "../iconfont/tabler-icons-2.scss";

//utilities
// @import "./utitlies/api.scss";
// @import "./utitlies/other.scss";
// @import "./utitlies/colors.scss"
