.gls-block { display: block; }
.gls-inline-block {	display: inline-block; }
.gls-flex {	display: flex;	}
.gls-table {display: table; }
.gls-display-none {	display: none; }
.gls-table-cell{ display:table-cell }
.gls-inline-flex { display: inline-flex; }

.gls-flex-row {
	flex-direction: row; 
}
.gls-flex-row {
	flex-direction: column;
}
