@import "../sass/constants.scss";

$ns: $ds-namespace;

// Color variants
$default-color: #e5e4e2;
$primary-color: #2e5090;
$secondary-color: #000000;
$error-color: #a20000;
$success-color: #0d6733;
$warning-color: #e47419;

$color-white: #ffffff;
$color-black: #000000;

$color-red: red;
$color-green: green;