@import "../constants.scss";
@import "../base/global-variables.scss";

// Variant color scope declarations
$variant-default-color: #f1f1f1;
$primary-color-hover: rgb(39, 68, 129);
$variant-error-color: rgb(177, 48, 59);
$variant-secondary-color: rgba(44, 43, 53, 0.877);
$success-button-background-color: green;
$button-border-radius: 4px;
$button-group-border-radius: 4px;
$border-width: 1px;
$border-style: solid;

.#{$ns}-button {
  border-radius: $button-border-radius;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  vertical-align: baseline;
  color: $black;
  margin: 0em 0.25em 0em 0em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1.25em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  background: $default-bg none;
  border-width: $border-width;
  border-style: $border-style;
  // color: white;
  // font-family: 'Segoe UI';

  &.#{$ns}-has-shadow {
    box-shadow: $box-shadow-light;
  }

  &.#{$ns}-is-fluid {
    width: 100%;
  }

  &:active {
    box-shadow: none;
  }

  /******************
    Variants
  *******************/
  &.#{$ns}-is-primary {

    border-color: $primary-color;
    color: $primary-color;

    &.#{$ns}-is-solid {
      background-color: $primary-color;
      color: $white;
    }
  }
  &.#{$ns}-is-secondary {
      border-color: $variant-secondary-color;
      color: $variant-secondary-color;
      &:active {
        background-color: black;
        color: white;
      }
      &.#{$ns}-is-solid {
        background-color: $variant-secondary-color;
        color: $white;
      }
  }
  &.#{$ns}-is-error {

    &:not(.#{$ns}-solid) {
      color: $variant-error-color;
      border-color: $variant-error-color;
    }

    &:is(.#{$ns}-is-solid) {
      border-color: rgb(177, 48, 59);
      color: #fff;
      background-color: $variant-error-color;
    }
  }

  &.#{$ns}-is-success {

    &:not(.#{$ns}-solid) {
      color: $success-button-background-color;
      border-color: $success-button-background-color;
    }

    &:is(.#{$ns}-is-solid) {
      border-color: $success-button-background-color;
      color: #fff;
      background-color: $success-button-background-color;
    }
  }
}

.#{$ns}-button-group {
  border-radius: $button-border-radius;
  display: flex;
  flex-direction: row;

  & .#{$ns}-button:not(:only-child) {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-right: $box-solid-border;
  }

  & .#{$ns}-button:last-child {
    border-right-width: 1px;
  }

  & .#{$ns}-button:not(:only-child):first-child {
    border-radius: $button-border-radius 0 0px $button-border-radius;
  }
  & .#{$ns}-button:not(:only-child):last-child {
    border-radius: 0px $button-border-radius $button-border-radius 0px;
  }

  &:is(.#{$ns}-is-primary) {
    border-color: $primary-color;
    color: $primary-color;
  }

}

.#{$ns}-is-mini.#{$ns}-buttons .button,
.#{$ns}-is-mini.#{$ns}-button {
  font-size: 0.78571429rem;
}
.#{$ns}-is-tiny.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-is-tiny.#{$ns}-button {
  font-size: 0.85714286rem;
}
.#{$ns}-is-small.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-is-small.#{$ns}-button {
  font-size: 0.92857143rem;
}
.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-button {
  font-size: 1rem;
}
.#{$ns}-is-large.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-is-large.#{$ns}-button {
  font-size: 1.14285714rem;
}
.#{$ns}-is-big.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-is-big.#{$ns}-button {
  font-size: 1.28571429rem;
}
.#{$ns}-is-huge.#{$ns}-buttons .#{$ns}-button,
.#{$ns}-is-huge.#{$ns}-button {
  font-size: 1.42857143rem;
}

.#{$ns}-icon-button.#{$ns}-buttons .#{$ns}-button-button > .#{$ns}-icon,
.#{$ns}-icon-button.#{$ns}-button > .#{$ns}-icon {
  opacity: 0.9;
  margin: 0em !important;
  vertical-align: top;
}

/** Icon Button **/
.#{$ns}-button.#{$ns}-icon-button.#{$ns}-is-compact,
.#{$ns}-button-group > .#{$ns}-button.#{$ns}-icon-button.#{$ns}-is-compact {
  padding: 0.5rem;
}

.#{$ns}-button.#{$ns}-is-disabled,
.#{$ns}-button:disabled {
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}
