@import "../constants.scss";

$ns: $ds-namespace;
$block: #{$ns}-card;

#{$ns}-cards > .#{$block},
.#{$block} {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0px;
  background-color: #fff;
  // background: rgba(255, 255, 255, 0.85);
  padding: 0em;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0 0 1px 0 black;
  -webkit-transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  z-index: '';

  &:is(.gls-theme-dark) {
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    & * {
      color: white;
    }

    & > .gls-content {
      // border-top: 1px solid rgba(235, 238, 241, 0.1);
      // border-bottom: 1px solid rgba(228, 231, 235, 0.1);
      border-radius: $border-radius;

      &:is(:first-child) {
        border-top: none;
      }
      &:is(:last-child) {
        border-bottom: none;
      }
    }
  }
}

.#{$block} {
  margin: 1em 0em;

  &:first-child {
    margin-top: 0em;
  }
  &:last-child {
    margin-bottom: 0em;
  }
}
.#{$ns}-cards > .gls-card a,
.#{$ns}-card a {
  cursor: pointer;
}

/*--------------
      Cards
---------------*/

.#{$ns}-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -0.875em -0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.#{$ns}-cards > .#{$ns}-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.875em 0.5em;
  float: none;

  &:after, :before {
    display: block;
    content: ' ';
    height: 0px;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  & ~ .#{$ns}-cards {
    margin-top: 0.875em;
  }
}

.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content,
.#{$ns}-card  > .#{$ns}-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  background: none;
  margin: 0em;
  padding: 1em 1em;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1em;
  border-radius: 0em;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);



  &:is(:first-child) {
    border-top: none;
  }
  &:is(:last-child) {
    border-bottom: none;
  }
}

.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content:after,
.#{$ns}-card > .#{$ns}-content:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content > .#{$ns}-header,
.#{$ns}-card > .#{$ns}-content > .#{$ns}-header {
  display: block;
  margin: '';
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

/* Default Header Size */
.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content > .header:not(.ui),
.#{$ns}-card > .#{$ns}-content > .#{$ns}-header {
  font-weight: bold;
  font-size: 1.28571429em;
  margin-top: -0.21425em;
  line-height: 1.28571429em;
}
.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content > .#{$ns}-meta + .#{$ns}-description,
.#{$ns}-cards > .#{$ns}-card > .#{$ns}-content > .#{$ns}-header + .#{$ns}-description,
.#{$ns}-card > .#{$ns}-content > .#{$ns}-meta + .#{$ns}-description,
.#{$ns}-card > .#{$ns}-content > .#{$ns}-header + .#{$ns}-description {
  margin-top: 0.5em;
}
