@import "../constants.scss";

$ns: $ds-namespace;
$block: #{$ns}-menu;

.#{$block} {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  background-color: #fff;
  min-height: 2em;
  border-radius: $border-radius;
  margin: 0.2em;
  border: 1px solid rgba(209, 213, 219, 0.3);

  &:is(.gls-top-attached) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    box-shadow: none;
  }

  &:is(.gls-bottom-attached) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    box-shadow: none;
  }

  &.gls-is-vertical {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
  }

  & .gls-right-menu {
    margin-left: auto;
    display: inline-flex;
    & .gls-sub-header {
      text-align: right;
    }
  }

}

.gls-menu:not(.gls-vertical) .gls-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gls-menu .gls-item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  border-radius: $border-radius;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  padding: 0.42857143em .814285714em;
  text-transform: none;
  font-weight: normal;
  -webkit-transition: background 0.5s ease, color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background 0.5s ease, color 0.1s ease, -webkit-box-shadow 0.5s ease;
  transition: background 0.5s ease, box-shadow 0.1s ease, color 0.5s ease;
  transition: background 0.5s ease, box-shadow 0.1s ease, color 0.5s ease, -webkit-box-shadow 0.5s ease;
  z-index: 101;
}

.gls-menu .gls-item {
  color: black;
  text-decoration: none;
}

.gls-menu a.gls-item:hover {
  &:is(.gls-vertical) {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    border-top-left-radius: $border-radius;
  }
}

.gls-menu > .gls-item:first-child,
.gls-menu > .gls-right-menu > .gls-item:first-child {
  // border-radius: $border-radius 0px 0px $border-radius;
}

.gls-menu > .gls-item:last-child,
.gls-menu > .gls-right-menu > .gls-item:last-child {
  // border-radius: 0 $border-radius $border-radius 0;
}


/* Border */
.gls-menu .gls-item:before,
.gls-menu a.gls-item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 1px;
}

.gls-menu.gls-bordered .gls-item:before,
.gls-menu.gls-bordered a.gls-item:before{
  background: rgba(34, 36, 38, 0.1);
}

/*--------------
  Text Content
---------------*/

.gls-menu .gls-menu-text.gls-item > *,
.gls-menu .gls-item > a:not(.gls),
.gls-menu .gls-item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1;
}
.ui.menu .item > p:first-child {
  margin-top: 0;
}
.ui.menu .item > p:last-child {
  margin-bottom: 0;
}

/*--------------
      Icons
---------------*/

.ui.menu .item > i {
  opacity: 0.9;
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}

/*--------------
     Button
---------------*/

.gls-menu:not(.gls-vertical) .gls-item > .gls-btn {
  position: relative;
  top: 0em;
  margin: -0.5em 0em;
  padding-bottom: 0.78571429em;
  padding-top: 0.78571429em;
  font-size: 1em;
}

/*----------------
 Grid / Container
-----------------*/

.ui.menu > .grid,
.ui.menu > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

/*--------------
     Inputs
---------------*/

.ui.menu:not(.vertical) .item > .input {
  position: relative;
  top: 0em;
  margin: -0.5em 0em;
}
.ui.menu .item > .input input {
  font-size: 1em;
  padding-top: 0.57142857em;
  padding-bottom: 0.57142857em;
}

/*--------------
     Header
---------------*/

.gls-menu .gls-menu-header.gls-item,
.gls-vertical.gls-menu .gls-menu-header.gls-item {
  margin: 0em;
  background: '';
  text-transform: normal;
  font-weight: bold;
}
.gls-vertical.gls-menu .gls-item > .gls-menu-header:not(.ui) {
  margin: 0em 0em 0.5em;
  font-size: 1em;
  font-weight: bold;
}

.gls-menu .gls-menu-header.gls-item,
.gls-vertical.gls-menu .gls-menu-header.gls-item {
  margin: 0em;
  background: '';
  text-transform: normal;
  font-weight: bold;
}
.gls-vertical.gls-menu .gls-item > .gls-menu-header:not(.ui) {
  margin: 0em 0em 0.5em;
  font-size: 1em;
  font-weight: bold;
}

.gls-menu.gls-vertical {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--- Sub Menu ---*/

.gls-menu.gls-vertical .gls-item > .menu {
  margin: 0.5em -1.14285714em 0em;
}
.gls-menu.gls-vertical .menu .gls-item {
  background: none;
  padding: 0.5em 1.33333333em;
  font-size: 0.85714286em;
  color: rgba(0, 0, 0, 0.5);
}
.gls-menu.gls-vertical .gls-item .menu a.gls-item:hover,
.gls-menu.gls-vertical .gls-item .menu .link.gls-item:hover {
  color: rgba(0, 0, 0, 0.85);
}
.gls-menu.gls-vertical .menu .gls-item:before {
  display: none;
}

/* Vertical Active */
.gls-menu.gls-vertical .gls-is-active.gls-item {
  background: $primary-color;
  color: white;
  // border-radius: 0em;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.gls-menu.gls-vertical > .gls-is-active.gls-item:first-child {
  border-radius: $border-radius;
}
.gls-menu.gls-vertical > .gls-is-active.gls-item:last-child {
  border-radius: $border-radius;
}
.gls-menu.gls-vertical > .gls-is-active.gls-item:only-child {
  border-radius: $border-radius;
}
.gls-menu.gls-vertical .gls-is-active.gls-item .menu .gls-is-active.gls-item {
  border-left: none;
}
.gls-menu.gls-vertical .gls-item .menu .gls-is-active.gls-item {
  background-color: transparent;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}


.gls-menu.gls-vertical {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/*--- Item ---*/

.gls-menu.gls-vertical .gls-item {
  display: block;
  border-top: none;
  border-right: none;
}
.gls-menu.gls-vertical > .gls-item:first-child {
  border-radius: $border-radius;
}
.gls-menu.gls-vertical > .gls-item:last-child {
  border-radius: $border-radius;
}

/*--- Label ---*/

.gls-menu.gls-vertical .gls-item > .label {
  float: right;
  text-align: center;
}

/*--- Icon ---*/

.gls-menu.gls-vertical .gls-item > i.icon {
  width: 1.18em;
  float: right;
  margin: 0em 0em 0em 0.5em;
}
.gls-menu.gls-vertical .gls-item > .label + i.icon {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

/*--- Border ---*/

.gls-menu.gls-vertical .gls-item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: rgba(34, 36, 38, 0.1);
}
.gls-menu.gls-vertical .gls-item:first-child:before {
  display: none !important;
}

/*--- Sub Menu ---*/

.gls-menu.gls-vertical .gls-item > .menu {
  margin: 0.5em -1.14285714em 0em;
}
.gls-menu.gls-vertical .menu .gls-item {
  background: none;
  padding: 0.5em 1.33333333em;
  font-size: 0.85714286em;
  color: rgba(0, 0, 0, 0.5);
}
.gls-menu.gls-vertical .gls-item .menu a.gls-item:hover,
.gls-menu.gls-vertical .gls-item .menu .link.gls-item:hover {
  color: rgba(0, 0, 0, 0.85);
}
.gls-menu.gls-vertical .menu .gls-item:before {
  display: none;
}

/* Vertical Active */
.gls-menu .gls-is-active.gls-item {
  background: $primary-color;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gls-menu.gls-vertical > .gls-is-active.gls-item:first-child {
  border-radius: $border-radius $border-radius 0em 0em;
}
.gls-menu.gls-vertical > .gls-is-active.gls-item:last-child {
  border-radius: 0em 0em $border-radius $border-radius;
}
.gls-menu.gls-vertical > .gls-is-active.gls-item:only-child {
  border-radius: $border-radius;
}
.gls-menu.gls-vertical .gls-is-active.gls-item .menu .gls-is-active.gls-item {
  border-left: none;
}
.gls-menu.gls-vertical .gls-item .menu .gls-is-active.gls-item {
  background-color: transparent;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.95);
}

.gls-borderless.gls-menu .gls-item:before,
.gls-borderless.menu .gls-item .gls-menu .gls-item:before,
.gls-menu .gls-borderless.gls-item:before {
  background: none !important;
}

.gls-menu > * .gls-menu {
  margin: 0px;
  border: none;
  box-shadow: none;
  background: none;
  flex-direction: inherit;
  & > * .gls-item {
    background: transparent
  }
}
