.gls-pagination {
  display: inline-flex;
  flex-direction: row;
  border-radius: 0.5rem;
  border: solid black 1px;
  // padding: 0.2rem;

  & > .gls-item {
    padding: 0.3rem 0.6rem;
    border: none;
    cursor: pointer;
    transition: .2s;

    &:hover, :is(.gls-is-active) {
      background-color: rgba(92, 110, 167, 0.205);
    }
    
    &:is(.gls-is-active) {
      background-color: rgba(92, 110, 167, 0.2);
    }

    &:not(:last-child) {
       border-right: solid #e5e4e2 1px;
    }

    &:is(:first-child) {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }
    &:is(:last-child) {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}