$tr-padding: 0.5rem;

.gls-table {
  width: 100%;
  background: #fff none;
  margin: 1em 0em;
  border-radius: 0.28571429rem;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 1px 0 black;

  &:is(.gls-bottom-attached) {
    margin-top: 0px;

    & thead th {
      border-radius: 0 !important;
    }

  }

  & thead {
    border-radius: 0.5rem;

    & > tr {
      border-radius: 0.5rem;
      padding: $tr-padding;
    }
  }

  & thead tr {
    background-color: #e5e4e2;
    border-radius: 0.5rem;
    padding: $tr-padding;
  }

  & thead th {
    background-color: #e5e4e2;
    padding: 0.3em 0.6em;

    &:first-child {
      border-radius: 0.5rem 0px 0px 0px;
    }
    &:last-child {
      border-radius: 0px .5rem 0px 0px;
    }

    &:before {
      border: solid black 1px;
    }
  }

  & tbody {
    border-radius: 0px 0px 5px 5px;
    border: none;
    & > tr {
      border: none;
    }
  }

  & tbody tr {
    border-collapse: collapse;
    // padding: 0.3em;
    border-radius: 0.5rem;
    padding: $tr-padding;
  }

  & tbody tr td{
    padding: 0.3rem 0.6rem;
  }

  & tbody tr:hover {
    background-color: #e5e4e2d0;
  }

  & tbody tr:nth-child(even) {
    // background-color: #e4e3ded0;
  }

  & tr:first-child {
    margin-top: 0.8em;
  }

  & tr:last-child {
    margin-bottom: 0.8em;
  }

  & tbody tr {

    border-radius: 0.5rem;

    &:not(:last-child) {
      border-bottom: solid rgba(143, 138, 138, 0.452) 1px;
    }
  }
}
