.gls-alert {
  margin: 1em;
  // border: solid 1px rgba(49, 46, 46, 0.7);
  padding: 1em 1em;
  border-radius: 0.5rem;
  background-color: rgba(88, 84, 84, 0.50);
  backdrop-filter: blur(8px) saturate(50%);
  line-height: 1;
  min-width: 412px;
  box-shadow: 0 0 2px 0 black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;

  &.gls-success {
    background-color: rgba(0, 255, 0, 0.50);
    color: black;
  }

  &.gls-warning {
    background-color: rgba(182, 170, 3, 0.50);
    color: black;
  }

  &.gls-error {
    border: none;
    background-color: rgba(255, 0, 0, 0.50);
  }
}

// Alert with icons
.gls-alert.gls-has-icon {
  display: flex;
  & > i {
    display: block;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 20px;
  }
}

// Descriptions and actions
.gls-alert {

  & .gls-description {
    margin: 0.5rem 0;
  }
  & .gls-actions {
    margin: 0.5rem 0;
  }
}