@import "../constants.scss";
@import "../base/global-variables.scss";

// Variant color scope declarations
$variant-default-color: #f1f1f1;
$primary-color-hover: rgb(39, 68, 129);
$variant-error-color: rgb(177, 48, 59);
$variant-secondary-color: rgba(44, 43, 53, 0.877);
$success-button-background-color: green;
$button-border-radius: 5px;
$button-group-border-radius: 5px;

.gls-button {
  border-radius: $button-border-radius;
  // padding: .6em 1em;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  vertical-align: baseline;
  color: $black;
  margin: 0em 0.25em 0em 0em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1.25em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  background: $default-bg none;
  border-width: 1px;
  border-style: solid;
  // color: white;
  // font-family: 'Segoe UI';

  &.gls-has-shadow {
    box-shadow: $box-shadow-light;
  }

  &.gls-is-fluid {
    width: 100%;
  }
  
  &:active {
    box-shadow: none;
  }
  
  /******************
    Variants  
  *******************/
  &.gls-is-primary {

    border-color: $primary-color;
    color: $primary-color;

    &.gls-is-solid {
      background-color: $primary-color; 
      color: $white;
    }
  }
  &.gls-is-secondary {
      border-color: $variant-secondary-color;
      color: $variant-secondary-color;
      &:active {
        background-color: black;
        color: white;
      }
      &.gls-is-solid {
        background-color: $variant-secondary-color; 
        color: $white;
      }
  }
  &.gls-is-error {

    &:not(.gls-solid) {
      color: $variant-error-color;
      border-color: $variant-error-color;
    }

    &:is(.gls-is-solid) {
      border-color: rgb(177, 48, 59);
      color: #fff;
      background-color: $variant-error-color;
    }
  }

  &.gls-is-success {

    &:not(.gls-solid) {
      color: $success-button-background-color;
      border-color: $success-button-background-color;
    }

    &:is(.gls-is-solid) {
      border-color: $success-button-background-color;
      color: #fff;
      background-color: $success-button-background-color;
    }
  }
}

.gls-button-group {
  border-radius: $button-border-radius;
  display: flex;
  flex-direction: row;

  & .gls-button:not(:only-child) {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-right: $box-solid-border;
  }

  & .gls-button:not(:only-child):first-child {
    border-radius: $button-border-radius 0 0px $button-border-radius;
  }
  & .gls-button:not(:only-child):last-child {
    border-radius: 0px $button-border-radius $button-border-radius 0px;
  }

  &:is(.gls-is-primary) {
    border-color: $primary-color;
    color: $primary-color;
  }

}

.gls-is-mini.gls-buttons .button,
.gls-is-mini.gls-button {
  font-size: 0.78571429rem;
}
.gls-is-tiny.gls-buttons .gls-button,
.gls-is-tiny.gls-button {
  font-size: 0.85714286rem;
}
.gls-is-small.gls-buttons .gls-button,
.gls-is-small.gls-button {
  font-size: 0.92857143rem;
}
.gls-buttons .gls-button,
.gls-button {
  font-size: 1rem;
}
.gls-is-large.gls-buttons .gls-button,
.gls-is-large.gls-button {
  font-size: 1.14285714rem;
}
.gls-is-big.gls-buttons .gls-button,
.gls-is-big.gls-button {
  font-size: 1.28571429rem;
}
.gls-is-huge.gls-buttons .gls-button,
.gls-is-huge.gls-button {
  font-size: 1.42857143rem;
}

.gls-icon-button.gls-buttons .gls-button-button > .gls-icon,
.gls-icon-button.gls-button > .gls-icon {
  opacity: 0.9;
  margin: 0em !important;
  vertical-align: top;
}

/** Icon Button **/
.gls-button.gls-icon-button.gls-is-compact,
.gls-button-group > .gls-button.gls-icon-button.gls-is-compact {
  padding: 0.5rem;
}

.gls-button.gls-is-disabled, 
.gls-button:disabled {
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}