@import "../constants.scss";

$ns: $ds-namespace;
$block: #{$ns}-header;

.#{$block} {
  border: none;
  margin: calc(2rem -  0.14285714em ) 0em 1rem;
  padding: 0em 0em;
  font-size: 1.28571429rem;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(15, 15, 15, 0.87);
  display: block;

  &:first-child {
    margin-top: -0.14285714em;
  }

  &:last-child {
    margin-bottom: 0em;
  }

  .#{$ns}-sub-header {
    display: block;
    font-weight: normal;
    padding: 0em;
    margin: 0em;
    font-size: 1rem;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.6);
  }

  & i.#{$ns}-icon {
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0em;
    vertical-align: middle;
  }

  & i.#{$ns}-icon:only-child {
    display: inline-block;
    padding: 0em;
    margin-right: 0.75rem;
  }

  & .#{$ns}-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 1em;
  }

  &.#{$ns}-dividing {
    padding-bottom: 0.21428571rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  & > .#{$ns}-icon + .#{$ns}-content {
    padding-left: 0.75rem;
    display: table-cell;
    vertical-align: middle;
  }

  &:is(.gls-is-dark) {
    background-color: rgba(17, 25, 40, 0.75);
    color: white;
  }

  /*******************************
            Types
  *******************************/


  /*--------------
      Page
  ---------------*/

  &:is(h1) {
    font-size: 2rem;
    & > * .#{$ns}-sub-header {
      font-size: 1.14285714rem;
    }
  }
  &:is(h2) {
    font-size: 1.14285714rem;
    & > * .#{$ns}-sub-header {
      font-size: 1.71428571rem;
    }
  }
  &:is(h3) {
    font-size: 1rem;
    & > .#{$ns}-sub-header {
      font-size: 1.28571429rem;
    }
  }
  &:is(h4) {
    font-size: 1rem;
    & > .#{$ns}-sub-header {
      font-size: 1.07142857rem;
    }
  }
  &:is(h5) {
    font-size: 0.92857143rem;
    & > .#{$ns}-sub-header {
      font-size: 1rem;
    }
  }

  /*--------------
  Content Heading
  ---------------*/

  .ui.huge.header {
    min-height: 1em;
    font-size: 2em;
  }
  .ui.large.header {
    font-size: 1.71428571em;
  }
  .ui.medium.header {
    font-size: 1.28571429em;
  }
  .ui.small.header {
    font-size: 1.07142857em;
  }
  .ui.tiny.header {
    font-size: 1em;
  }

  /* Sub Header */
  .ui.huge.header .sub.header {
    font-size: 1.14285714rem;
  }
  .ui.large.header .sub.header {
    font-size: 1.14285714rem;
  }
  .ui.header .sub.header {
    font-size: 1rem;
  }
  .ui.small.header .sub.header {
    font-size: 1rem;
  }
  .ui.tiny.header .sub.header {
    font-size: 0.92857143rem;
  }

  /*--------------
    Sub Heading
  ---------------*/

  .ui.sub.header {
    padding: 0em;
    margin-bottom: 0.14285714rem;
    font-weight: bold;
    font-size: 0.85714286em;
    text-transform: uppercase;
    color: '';
  }
  .ui.small.sub.header {
    font-size: 0.78571429em;
  }
  .ui.sub.header {
    font-size: 0.85714286em;
  }
  .ui.large.sub.header {
    font-size: 0.92857143em;
  }
  .ui.huge.sub.header {
    font-size: 1em;
  }

  /*-------------------
          Icon
  --------------------*/

  .ui.icon.header {
    display: inline-block;
    text-align: center;
    margin: 2rem 0em 1rem;
  }
  .ui.icon.header:after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
  }
  .ui.icon.header:first-child {
    margin-top: 0em;
  }
  .#{$ns}-icon-header.#{$ns}-icon {
    float: none;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0em;
    font-size: 3em;
    margin: 0em auto 0.5rem;
    opacity: 1;
  }
  .ui.icon.header .#{$ns}-content {
    display: block;
    padding: 0em;
  }
  .ui.icon.header .#{$ns}-circular-icon {
    font-size: 2em;
  }
  .ui.icon.header .square.icon {
    font-size: 2em;
  }
  .ui.block.icon.header .#{$ns}-icon {
    margin-bottom: 0em;
  }
  .ui.icon.header.aligned {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /** Block **/

  &.#{$ns}-block {
    background: #c7c8c9;
    padding: 0.78571429rem 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    // border: 1px solid #D4D4D5;
    // border-radius: 0.28571429rem;
    border-radius: $border-radius;
    // margin: 0.6em;
    box-shadow: 0 0 1px 0 black;
  }

  &:is(.gls-is-dark) {
    color: white;
    &.#{$ns}-block {
      background-color: rgba(17, 25, 40, 0.75);
      padding: 0.78571429rem 1rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      // border: 1px solid #D4D4D5;
      // border-radius: 0.28571429rem;
      border-radius: $border-radius;
      // margin: 0.6em;
      box-shadow: 0 0 1px 0 black;
      color: white;
    }

    & > .gls-content {
      color: white;

      & > .gls-sub-header {
        color: white;
      }
    }
  }

  &.#{$ns}-block {
    font-size: 0.85714286rem;
  }
  &.#{$ns}-block.#{$ns}-small {
    font-size: 0.92857143rem;
  }
  &.#{$ns}-block:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1rem;
  }
  &.#{$ns}-block.#{$ns}-large {
    font-size: 1.14285714rem;
  }
  &.#{$ns}-block.#{$ns}-huge {
    font-size: 1.42857143rem;
  }
}
