.gls-backdrop {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1101;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.462);
  backdrop-filter: blur(10px) saturate(50%);

  &.gls-is-active {
    display: flex;
  }
}
.gls-modal {
  display: none;
  position: absolute;
  z-index: 1102 !important;
  margin: auto;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: 0 0 auto;
  vertical-align: middle;
  width: 1000px;
  border-radius: 0.5rem;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.344);

  &.gls-is-active {
    display: block;
  }

  & > i {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -3rem;
    margin-right: 0rem;
    cursor: pointer;
    // border: solid black 1px;
    stroke: blanchedalmond;
    padding: 0.5rem;
    color: white;
  }
}