.gls-pagination {
  display: inline-flex;
  flex-direction: row;
  // border: solid rgb(134, 130, 130) 1px;
  background-color: honeydew;
  border-radius: 0.5rem;

  & > .gls-item {
    padding: 0.3rem 0.6rem;
    border: none;
    // border: solid rgba(85, 87, 85, 0.712) 1px;
    cursor: pointer;
    transition: .2s;

    &:hover, :is(.gls-active) {
      background-color: rgba(92, 110, 167, 0.205);
    }
    
    &:is(.gls-active) {
      border-bottom: solid 3px rgb(92, 109, 167);
      background-color: rgba(92, 110, 167, 0.2);
    }

    &:not(:last-child) {
       border-right: none; 
    }

    &:is(:first-child) {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }
    &:is(:last-child) {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}