@import "../constants.scss";

$ns: $ds-namespace;

.gls-segment {
  position: relative;
  border-radius: $border-radius;
  padding: 1em;
  //background-color: #ffffff94;
  background-color: #fff;
  //box-shadow: 0 0 2px 0 black;

  &:first-child {
    margin-top: 0em;
  }
  &:last-child {
    margin-bottom: 0em;
  }

  &:is(.gls-bottom-attached) {
    margin-top: 0px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  & .gls-menu {
    box-shadow: 0 0 1px 0 black;
    margin: -0.5rem;
    margin-bottom: 0.5rem;
  }
}
