@import "../constants.scss";

$ns: $ds-namespace;

$block: #{$ns}-shellbar;

.#{$block} {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0em;
  background: rgba(255, 255, 255, 0.65);
  font-weight: normal;
  border: 1px solid rgba(34, 36, 38, 0.753);
  border-top: none;
  -webkit-box-shadow: 0px 3px 14px 4px rgba(34, 36, 38, 0.637);
          box-shadow: 0px 3px 14px 4px rgba(34, 36, 38, 0.637);
  min-height: 1.85714286em;
  // border-radius: 0px 0px $border-radius $border-radius;
  border-radius: 0px 0px 0.5em 0.5em;
  z-index: 1001;
  position: sticky;

  top: 0;
    backdrop-filter: blur(2px) saturate(50%);
    color: rgb(37, 36, 36);
  
  & * {
    color: black;
  }

  &:is(.gls-theme-dark){
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    color: white;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.39), 0 0 2px 0px rgba(255, 255, 255, 0.685);

    & * {
      color: white !important; 
    }
  }
  
}

.gls-shellbar:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.gls-shellbar:first-child {
  margin-top: 0rem;
}
.gls-shellbar:last-child {
  margin-bottom: 0rem;
}

.gls-shellbar:not(.gls-vertical) > .gls-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gls-shellbar > * .gls-item,
.gls-shellbar > .gls-item  {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  padding: 0.42857143em 0.64285714em;
  text-transform: none;
  // color: rgba(0, 0, 0, 1);
  font-weight: normal;
  -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;

  & a{
    cursor: pointer;
    &:hover {
      background: #7c7c7c;
      color: rgb(255, 255, 255);  
    }
  }
}

// /* Border */
.gls-shellbar.gls-with-border > .gls-item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, 0.1);
}

/*--------------
  Text Content
---------------*/

.gls-shellbar > .gls-item > *,
.gls-shellbar > .gls-item > a:not(.ui),
.gls-shellbar > .gls-item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1.3;
}
.gls-shellbar > .gls-item > p:first-child {
  margin-top: 0;
}
.gls-shellbar > .gls-item > p:last-child {
  margin-bottom: 0;
}

.gls-shellbar .gls-right-menu {
  margin-left: auto;
  display: flex;
}