.gls-switch {
  min-height: 1.5rem;

  /* Input */
  & input {
    width: 3.5rem;
    height: 1.5rem;
  }

  input[type="checkbox"] {
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0 !important;
    outline: none;
    z-index: 3;
    width: 17px;
    height: 17px;


  }

  /* Label */
  & label {
    min-height: 1.5rem;
    padding-left: 4.5rem;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 0.15em;
  }
  // Switch
  & :before {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    -webkit-transform: none;
            transform: none;
    border: none;
    top: 0rem;
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 500rem;
  }

  & :after {
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.05)));
    background: #FFFFFF -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
    background: #FFFFFF linear-gradient(transparent, rgba(0, 0, 0, 0.05));
    position: absolute;
    content: '' !important;
    opacity: 1;
    z-index: 2;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
            box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
    width: 1.5rem;
    height: 1.5rem;
    top: 0rem;
    left: 0em;
    border-radius: 500rem;
    -webkit-transition: background 0.3s ease, left 0.3s ease;
    transition: background 0.3s ease, left 0.3s ease;
  }

  & input ~ label:after {
    left: -0.05rem;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
            box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  }

  /* Focus */
  & input:focus ~ .box:before,
  & input:focus ~ label:before {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
  }

  /* Hover */
  & .box:hover::before,
  & label:hover::before {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
  }

  /* Active */
  & input:checked ~ .box,
  & input:checked ~ label {
    color: rgba(0, 0, 0, 0.95) !important;
  }
  & input:checked ~ .box:before,
  & input:checked ~ label:before {
    background-color: #2185D0 !important;
  }
  & input:checked ~ .box:after,
  & input:checked ~ label:after {
    left: 2.15rem;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
            box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
  }

  /* Active Focus */
  & input:focus:checked ~ .box,
  & input:focus:checked ~ label {
    color: rgba(0, 0, 0, 0.95) !important;
  }
  & input:focus:checked ~ .box:before,
  & input:focus:checked ~ label:before {
    background-color: #0d71bb !important;
  }

}
