.gls-table {
  
  width: 100%;
  background: #ffffff9d;
  backdrop-filter: blur(4px);
  margin: 1em 0em;
  border: 1px solid #22242626;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(143, 138, 138, 0.652);
          box-shadow: 0px 0px 2px 0px rgba(143, 138, 138, 0.652);
  border-radius: 0.28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: collapse;
  border-spacing: 0px;
  border-radius: 0.5rem;

  & thead {
    backdrop-filter: blur(3px);
    background: #e5e4e2;
    border-radius: 10px;
  }

  & thead th {
    padding: 0.3em 0.6em;
    &:first-child {
      border-radius: 5px 0px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 5px 0px 0px;
    }
    
    &:before {
      border: solid black 1px;
    }
  }

  & tbody {
    border-radius: 0px 0px 5px 5px;
  }

  & tbody tr {
    border: solid rgba(150, 145, 145, 0.61) 1px;
    border-collapse: collapse;
    padding: 0.3em;
    border-radius: 0.5rem;
  }

  & tbody tr td{
    padding: 0 .6rem;
  }

  & tbody tr:hover {
    background-color: #e5e4e2d0;
  }

  & tbody tr:nth-child(even) {
    // background-color: #e4e3ded0;
  }

  & tr:first-child {
    margin-top: 0.8em;
  }
  
  & tr:last-child {
    margin-bottom: 0.8em;
  }

  & tbody tr {

    border-radius: 0.5rem;

    &:not(:last-child) {
      border-bottom: solid rgba(143, 138, 138, 0.452) 1px;
    }
  }
}
