.gls-tree {
  width: 100%;
  // list-style-type: none;
  padding-inline-start: 30px;
  // padding-block-start: 20px;
  word-wrap: break-word;
  // margin: 0.8em;
  
  & > .gls-item {
    // margin-left: 0;
    list-style-type: none;
    cursor: pointer;
    // margin-block-start: 2em;
  }

  & > .gls-item > .gls-text {
    // margin: 0px;
    padding: 0.1em 0.6em;
    line-height: 1;
    border-radius: 12px;

    & i {
      margin-left: 0.3em; 
    }
  }
  
  & > .gls-item .gls-text:hover {
    background-color: rgb(138, 129, 129);
  }

  &[aria-hidden="true"] {
    display: none;
  }
}