@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Urbanist', sans-serif; */
}

/**
 * Menu
*/
.gds-menu {
  display: flex;
  flex-direction: row;
  background-color: #e5e4e3;
}

.gds-right-aligned-items {
  position: absolute;
  right: 0;
}

.gds-menu .gds-item {
  padding: 0.3em 0.7em;
  line-height: 0.6em;
  cursor: pointer;
}

.gds-menu .gds-item:hover {
  background-color: #999897;
  transition-delay: 1ms;
}

/**********  Grid  ***********/

.gds-grid {
  display: flex;
  flex-direction: row;
}

.gds-grid .gds-col {
  width: 6.25%;
  padding: 0.5em;
}

.gds-grid [class*="gds-size__1-of-2"].gds-col {
  width: 50%;
}

.gds-grid [class*="gds-size__1-of-3"].gds-col {
  width: 33.33%;
}

.gds-grid [class*="gds-size__2-of-3"].gds-col {
  width: 66.66%;
}
